/* Ví dụ CSS cho header và footer */
header, footer {
    width: 100%;
    position: relative; /* Hoặc fixed nếu cần */
    background: #333; /* Màu nền ví dụ */
    color: white;
    padding: 10px 0; /* Thay đổi theo nhu cầu */
}

header {
    top: 0;
}

footer {
    bottom: 0;
}


.slider-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px); /* Giả sử header/footer có chiều cao 30px mỗi cái */
    overflow: hidden;
    margin-top: 60px; /* Hoặc điều chỉnh sao cho phù hợp */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.slide {
    min-width: 100%;
    background-size: cover;
    background-position: top;
    height: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
