.container{
   width: 100%;
   margin-top: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dich-vu{
    
   
    padding: 90px;
    
    width: 1460px;
 
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}
.dich-vu-con{
    
    display: flex;
  
    flex-direction: column;
    margin-bottom: 30px;
    width: 400px;
    background-color: #fff;
    border-radius: 15px  ;
    box-shadow: 5px 5px 15px  #565555 ;
}
.ten-dich-vu{
    display: flex;
    flex-direction: column;
  
    padding: 20px;
    gap: 5px;
   
}
.ten-dich-vu strong{
    border-bottom: 2px solid #d1cdcdb9;
}

.img-dich-vu{
   padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-dich-vu img{

    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.xem-them{
   
    display: flex;
    /* margin-top: 30px; */
    justify-content: center;
    margin-bottom: 20px;
    
}
.xem-them button{
    border: 5px;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    
}

.search-container {
    display: flex;
    justify-content: center;
    width: 900px;
    align-items: center;
    margin: 30px;
}

.search-button {
    border-radius: 0 15px 15px 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #fff;
    transition: all 0.05s ease;
}

.search-button:hover {
    background-color: #fff;
    box-shadow: 0 4px 8px #f0dde2;
}



.search-box {
    border: 2px solid black;
    background-color: #fff;
    width: 60%;
    height: 30px;
    display: block;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
    /* transition: width 0.3s ease; */
    border-radius: 15px 0 0 15px;
    border-right: none;
}

