.container-about {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Căn giữa ảnh */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Đưa hình ảnh xuống dưới chữ */
}

.intro h1 {
    font-size: 60px;
    color: white;
    z-index: 1; /* Đảm bảo chữ nằm trên hình ảnh */
}