.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 57px;
    background-color: #000000;
    overflow: hidden; 
}

.thumb-container {
    display: grid;
    grid-template-columns: repeat(14, 100px);
    grid-template-rows: repeat(7, 100px);
    margin: 0 55px auto;
    align-items: center;
    justify-items: center;
   
    
}


/* Khởi tạo trạng thái của các phần tử */
.clone-ing-thumb {
    width: 200px;
    height: 200px;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    background: linear-gradient(to top right, violet, #AA14F0, #BC8CF2);
    z-index: 10;
    border-radius: 50%;
    box-shadow: 2px 8px 16px #AA14F0;
    transform: translateY(100px); /* Vị trí khởi đầu ngoài màn hình */
    opacity: 0; /* Vô hình */
    transition: transform 1s ease, opacity 0.5s ease; /* Hiệu ứng chuyển tiếp */
}

/* Hiệu ứng fly-in khi vào viewport */
.clone-ing-thumb.animate {
    transform: translateY(0); /* Di chuyển về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Hiệu ứng fly-out khi cuộn xuống */
.clone-ing-thumb.fly-out {
    transform: translateY(100px); /* Nâng phần tử ra ngoài màn hình */
    opacity: 0; /* Ẩn phần tử */
}

/* Hiệu ứng fly-in khi cuộn lên */
.clone-ing-thumb.fly-in {
    transform: translateY(0); /* Đưa phần tử về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}





/* Khởi tạo trạng thái của các hình ảnh */
.img-thumb {
    border-radius: 30px;
  
    box-shadow: 4px 8px 16px #AA14F0;
    transform: translateY(-100px); /* Vị trí khởi đầu ngoài màn hình */
    opacity: 0; /* Vô hình */
    transition: transform 1s ease, opacity 0.5s ease; /* Hiệu ứng chuyển tiếp */
}

/* Hiệu ứng fly-in khi vào viewport */
.img-thumb.animate {
    transform: translateY(0); /* Di chuyển về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Hiệu ứng fly-out khi cuộn xuống */
.img-thumb.fly-out {
    transform: translateY(100px); /* Nâng phần tử ra ngoài màn hình */
    opacity: 0; /* Ẩn phần tử */
}

/* Hiệu ứng fly-in khi cuộn lên */
.img-thumb.fly-in {
    transform: translateY(0); /* Đưa phần tử về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */

}

.try{
    position: absolute;
    right: 65% ;
    top: 70%;
    width: 180px;
    height: 50px;
    border-radius:40px ;
    font-size:0.8em ;
    color: #AA14F0;
    background-color: #000;
    font-weight: bold;
    
}
.try:hover{
    transform: scale(1.1); /* Zoom logo lên 10% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Thêm bóng đổ */
    
}
.img-thumb-1 {
    width: 230px;
    height: auto;
    grid-column: 13 / 14;
    grid-row: 1 / 5;
    z-index: 4;
    
}

.img-thumb-2 {
    width: 400px;
    height: auto;
    grid-column: 12 / 13;
    grid-row: 5 / 7;
    border-radius:20%;
    z-index: 3;
    margin-top: 70px;
    display: none;
   
}

.img-thumb-3 {
    width: 250px;
   
    height: auto;
    grid-column: 11/ 12;
    grid-row: 4 / 7;
    z-index: 15;
    /* margin-bottom: 30px; */

    
}
.clone-ing-thumb-title, .title-container {
    width: 950px;
    height: 450px;
    /* background-color: #BC8CF2; */
    z-index: 6;
    grid-column:  3/ 10;
    grid-row: 3/ 5;
    border-radius: 35px;
    position: relative;
    transition: transform 1s ease, opacity 0.2s ease;
    transform: translateY(-100px); /* Vị trí khởi đầu ngoài màn hình */
    opacity: 0; /* Vô hình */
    /* margin-top: 50px; */
   
}
.clone-ing-thumb-title{
    box-shadow: 0 8px 16px #AA14F0 ;
    background: -webkit-linear-gradient(to right,  #AA14F0,violet, #BC8CF2);
	background: linear-gradient(to right bottom,  #AA14F0,violet, #BC8CF2);

}
.clone-ing-thumb-title.animate, .title-container.animate {
    transform: translateY(0); /* Di chuyển về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Hiệu ứng khi cuộn xuống */
.clone-ing-thumb-title.fly-out, .title-container.fly-out {
    transform: translateY(200px); /* Nâng phần tử lên ngoài màn hình */
    opacity: 0; /* Ẩn phần tử */
}

/* Hiệu ứng khi cuộn lên */
.clone-ing-thumb-title.fly-in, .title-container.fly-in {
   
    transform: translateY(0); /* Đưa phần tử về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Chỉnh sửa cụ thể cho title-container */
.title-container {
    grid-column: 6 / 8;
    grid-row: 4/ 5;
    font-size: 2em;
    font-family: Tahoma;
    z-index: 10;
    background-color: transparent; /* Để phù hợp với layout của bạn */
    /* text-shadow: 0px 4px 8px #eeeeee; */
    
}

.title-container p {
    font-size: 0.6em;
    padding-left: 8px;
}



/* Hiệu ứng fly-in khi vào viewport */
.clone-para.animate {
    transform: translateY(0); /* Di chuyển về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Hiệu ứng fly-out khi cuộn xuống */
.clone-para.fly-out {
    transform: translateY(100px); /* Nâng phần tử ra ngoài màn hình */
    opacity: 0; /* Ẩn phần tử */
}

/* Hiệu ứng fly-in khi cuộn lên */
.clone-para.fly-in {
    transform: translateY(0); /* Đưa phần tử về vị trí ban đầu */
    opacity: 1; /* Hiển thị phần tử */
}

/* Khởi tạo trạng thái của các phần tử */
.clone-para {
    width: 1000px;
    height: 1000px;
    background: linear-gradient(to right,  #AA14F0,violet, #BC8CF2);
    border-radius: 50%;
    grid-column: 10 / 14;
    grid-row: 7 / 8;
    box-shadow: -8px -8px 16px #AA14F0;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    transform: translateY(100px); /* Vị trí khởi đầu ngoài màn hình */
    opacity: 0; /* Vô hình */
    transition: transform 1s ease, opacity 0.5s ease; /* Hiệu ứng chuyển tiếp */
}



.reason-container {
    
    z-index: 15;
    width: 100%;
    height: 800px;
    background-color: #eee;
    
    
}

